<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- <unique-name-of-my-component></unique-name-of-my-component> -->
        <!-- 组件之间的循环引用 -->
        <!-- 
            你会发现这些组件在渲染树中互为对方的后代和祖先——一个悖论！
            当通过 Vue.component 全局注册组件的时候，这个悖论会被自动解开。
            然而，如果你使用一个模块系统依赖/导入组件，例如通过 webpack 或 Browserify，你会遇到一个错误：
            Failed to mount component: template or render function not defined.
            为了解释这里发生了什么，我们先把两个组件称为 A 和 B。模块系统发现它需要 A，
            但是首先 A 依赖 B，但是 B 又依赖 A，但是 A 又依赖 B，如此往复。这变成了一个循环，
            不知道如何不经过其中一个组件而完全解析出另一个组件。为了解决这个问题，我们需要给模块系统一个点，
            在那里“A 反正是需要 B 的，但是我们不需要先解析 B。
            示例:
            
            https://www.cnblogs.com/jaycethanks/p/15336166.html
        -->
    </div>

    <script>
        //递归组件
        Vue.component('unique-name-of-my-component', {
            //name定义递归组件
            name: 'stack-overflow',
            template: '<div><stack-overflow></stack-overflow></div>'
        })

        //组件循环调用
        Vue.component('tree-folder', {
            template: `
            <p>
                <span>{{ folder.name }}</span>
                <tree-folder-contents :children="folder.children"/>
            </p>
            `
        })

        Vue.component('tree-folder-contents', {
            beforeCreate: function () {
                this.$options.components.TreeFolderContents = require('./tree-folder-contents.vue').default
            },
            template: `
            <ul>
                <li v-for="child in children">
                    <tree-folder v-if="child.children" :folder="child"/>
                    <span v-else>{{ child.name }}</span>
                </li>
            </ul>
            `
        })
        //创建Vue实例,得到 ViewModel
        var vm = new Vue({
            el: '#app',
            data: {

            },
            methods: {}
        });
    </script>
</body>

</html>